# fly.toml app configuration file generated for skill-bridge-api-gen-ai-python on 2025-11-24T01:48:36Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'skill-bridge-api-gen-ai-python'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
